body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    background-color: #902bef; /* Saffron color */
    padding: 5px;
    text-align: center;
      
    header img {
        width: 5px; /* Adjust the width as per your preference */
        height: 5px;
    }
    
    h1 {
        margin: 0;
        margin-top: 10px; /* Adjust the margin as needed */
    }
    
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #902bef; /* Saffron color */
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #902bef; /* Darker saffron color */
}

section {
    padding: 20px;
}

footer {
    background-color: #902bef; /* Saffron color */
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#services {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.service {
    text-align: center;
}

.service img {
    width: 100%;
    border-radius: 8px;
}

.service p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.service-link {
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
}

.service-link:hover .service {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
